# OpenSpec shell completions
fpath=("$HOME/.zsh/completions" $fpath)
autoload -Uz compinit
compinit

export PATH=$HOME/.local/bin:$HOME/go/bin:$PATH

{{ if eq .role "work" -}}
# GCloud Homebrew needs
if [ -d /opt/homebrew/share/google-cloud-sdk ]; then
  export PATH=/opt/homebrew/share/google-cloud-sdk/bin:"$PATH"
fi

{{ end -}}
# Bluefin homebrew location
if [ -d /home/linuxbrew ]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

if [ "$(type starship)" != "starship not found" ]; then
  eval "$(starship init zsh)"
else
  # If we dont have the rich features of starship, at least give me a minimal prompt
  export PS1='%B%F{240}%1~%f%b -> '
fi

if [ "$(type direnv)" != "direnv not found" ]; then
  eval "$(direnv hook zsh)"
fi

if [ "$(type atuin)" != "atuin not found" ]; then
  eval "$(atuin init zsh)"
fi

if [ "$(type nvim)" != "nvim not found" ]; then
  export EDITOR=nvim
fi

if [ "$(type zoxide)" != "zoxide not found" ]; then
  eval "$(zoxide init zsh)"
fi
{{ if eq .role "work" }}
### Gitsign credential cache
export GITSIGN_CREDENTIAL_CACHE="$HOME/Library/Caches/sigstore/gitsign/cache.sock"
{{ end -}}
